[build]
  command = "yarn build"
  publish = ".output/public"
  
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "22"

# Build settings
[build.processing]
  skip_processing = false
